* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: linear-gradient(
        90deg,
        rgba(245, 247, 248, 1) 25%,
        rgba(238, 238, 238, 1) 75%
    );
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px; /* Agregar padding para evitar que el contenido toque los bordes */
}

.back {
    padding: 16px 0;
    background-color: #4f6652dc;
    border: 5px solid transparent;
    border-image: linear-gradient(45deg, #516559c5, #7e9084);
    border-image-slice: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

.menu {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    margin-right: auto;
}

.logo img {
    height: 90px;
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.search-form input[type="text"] {
    padding: 12px;
    border: 2px solid #cccccc;
    border-radius: 25px;
    width: 100%;
    margin-right: 8px;
    outline: none;
    font-size: 16px;
}

.search-form input[type="text"]:focus {
    border-color: #a2c1ab;
}

.search-form button {
    padding: 12px 25px;
    border: none;
    background-color: #405047;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.search-form button:hover {
    background-color: #8596865d;
}

/* Estilos para el formulario de inicio de sesión */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px); /* Ajusta la altura según el tamaño del header */
    background: #f9f9f9;
}

.login-form {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input[type="text"]:focus,
.input-group input[type="password"]:focus {
    border-color: #7d9c86;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #405047;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #859686;
}
